<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <appender name="DebugAppender" type="log4net.Appender.DebugAppender" >
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
    </layout>
  </appender>
  <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
    <file type="log4net.Util.PatternString">
      <conversionPattern value="mylog%date{yyyy-MM-dd_Hmm}.log" />
    </file>
    <appendToFile value="true" />
    <maximumFileSize value="100KB" />
    <maxSizeRollBackups value="2" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %5level %logger.%method [%line] - MESSAGE: %message%newline" />
    </layout>
  </appender>
  <appender name="AWS" type="AWS.Logger.Log4net.AWSAppender,AWS.Logger.Log4net">
    <LogGroup>Logging.Config</LogGroup>
    <Region>us-east-1</Region>
    <LogStreamNamePrefix>LogTest2</LogStreamNamePrefix>
    <LogStreamNameSuffix></LogStreamNameSuffix>
    <Profile>Logging</Profile>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%-4timestamp [%thread] %-5level %logger %ndc - %message%newline" />
    </layout>
  </appender>
  <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender" >
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%utcdate{yyyy-MM-ddTHH:mm:ss.fffZ} [%-5level] %logger - %message%newline" />
    </layout>
  </appender>

  <appender name="S3AppenderVB" type="LogTest2.Appenders.S3AppenderVB, LogTest2">

    <MaxStreamSize value="100KB"/>
    <TimeInterval value="60000"/>
    <MaxMemoryFootprint value="1MB"/>

    <S3FileName type="log4net.Util.PatternString" value="S3log"/>
    <S3FileExtension value="log"/>
    <S3BucketName type="log4net.Util.PatternString" value="bucketName"/>
    <S3AccessKeyID value="####"/>
    <S3SecretAccessKey value="###"/>

    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %level [%thread] %logger %C.%M - %message%newline"/>
    </layout>

  </appender>

  <appender name="AWSAppender2" type="LogTest2.Appenders.RollingFileS3Appender, LogTest2">
    <param name="BucketName" value="bucketname" />
    <param name="LogDirectory" value="" />
    <!-- If you dont whant a prefix to the log object leave this blank -->
    <param name="File" value="" />
    <staticLogFileName value="false" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="5" />
    <maximumFileSize value="1MB" />
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%d [%t][%property{SessionID}] %-5p %c %m%n" />
    </layout>
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
  </appender>

  <root>
    <level value="ALL"/>
    <appender-ref ref="AWSAppender2" />
    <appender-ref ref="S3AppenderVB" />
    <appender-ref ref="DebugAppender" />
    <appender-ref ref="RollingFile" />
    <appender-ref ref="AWS" />
  </root>
</log4net>